<!DOCTYPE html>
<html>

<head>
  <title>Login</title>
  <link rel="stylesheet" href="css/login.css">
  <link rel="apple-touch-icon" href="favicon.png">
  <link rel="shortcut icon" href="img/6174260.jpg" />
  <meta charset="UTF-8">
</head>

<body>
  <div class="login-container">
    <h2>Bem-vindo! Sistema ControlPatio</h2>
    <form id="formLogin">
      <label for="username">Usuário</label>
      <input type="text" id="username" name="username" placeholder="Digite seu usuário" required />

      <label for="password">Senha</label>
      <input type="password" id="password" name="password" placeholder="Digite sua senha" required />

      <button type="submit" id="btnLogin">Entrar</button>
      <div class="register">
        <a href="cadastroLogin.html" target="_parent" rel="noopener noreferrer">Registrar</a>
      </div>

      <div id="erro" class="error"></div>
    </form>
  </div>
  <script src="js/login.js"></script>
</body>

</html>